.btn-primary {
  background-color: #fb7c77 !important;
  border-color: #fb7c77 !important;
}

.bg-deskflo-color {
  background-color: #fb7c77 !important;
  height: 100vh;
}

.bg-deskflo-color-no-vh {
  background-color: #fb7c77 !important;
}

.navbar-custom {
  background-color: #fb7c77;
}